section {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  background: url('../../../assets/img/Group\ 4.svg');
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .webinar {
    background-color: saddlebrown;
    padding: 0px 5px;

    p {
      font-family: SharpSansNo1-Bold;
      font-weight: bold;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 0.93px;
      text-align: center;
    }
  }

  h1 {
    font-family: SharpSansNo1-BoldItalic;
    font-size: 40px;
    color: #021800;
    text-align: center;
    line-height: 52px;
    margin: 0;
  }

  h5 {
    font-family: SharpSansNo1-Semibold;
    font-size: 21px;
    color: #00373E;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.body {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px;
  counter-reset: div;

  .info {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: auto/span 7;

    .logos {
      display: flex;

      img {
        margin: 15px;
        max-height: 42px;
        max-width: 137px;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .persons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .name-role {
          display: flex;
          flex-direction: column;
        }

        img {
          margin-right: 10px;
          width: 25%;
        }

        .name {
          font-family: SharpSansNo1-Semibold;
          font-size: 20px;
          font-weight: bold;
          color: #02363D;
          line-height: 26px;
          margin: 0;
        }

        .role {
          font-family: SharpSansNo1-Medium;
          font-size: 16px;
          color: #021800;
          line-height: 26px;
          margin: 0;
        }
      }
    }
  }

  .form {
    padding: 12%;
    margin-top: 10%;
    grid-column: auto/span 5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .form-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      background-color: #F8F9F9;


      h3 {
        font-family: SharpSansNo1-Semibold;
        font-size: 20px;
        color: #02363D;
        text-align: center;
        line-height: 29px;
      }

      .form-control {
        margin-top: 15px;

        input,
        label,
        select {
          display: block;
        }

        label {
          font-family: SharpSansNo1-Semibold;
          font-weight: bolder;
          font-size: 14px;
          color: #02363D;
          margin-bottom: 5px;
        }

        input,
        select {
          width: 90%;
          border: 2px solid #68737D;
          padding: 10px 15px;
        }

        select {
          width: 97%;
        }

        .text-danger {
          color: red;
        }

        .is-invalid {
          border: 2px solid red;
        }
      }

      .submit {
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: SharpSansNo1-Semibold;
        font-size: 19px;
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
        color: white;
        background: #02363D;
        padding: 10px 0px;
        width: 98%;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width:1200px) {
  .header {
    .webinar {
      p {
        font-size: 8px;
      }
    }

    h1 {
      font-size: 20px;
      line-height: 25px;
    }

    h5 {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .body {
    .info {
      grid-column: auto/span 12;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      .texts {
        width: 100%;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          font-size: 10px;
          display: inline;
        }

      }

      .logos {
        display: none;
      }

      .all-logos {
        width: 100%;
      }
    }

    .form {
      grid-column: auto/span 12;
    }
  }
}

@media only screen and (min-width: 653px) and (max-width: 1200px) {
  .header {
    .webinar {
      p {
        font-size: 12px;
      }
    }

    h1 {
      font-size: 25px;
      line-height: 25px;
    }

    h5 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .body {
    .info {
      .texts {
        p {
          text-align: center;
          font-size: 15px;
          display: inline;
        }

      }
    }
  }
}
