<section>
  <div class="footer-container">
    <p>© 2020</p>
    <div class="logos">
      <img src="assets/img/Bitmap.png">
      <img src="assets/img/asobanca.png">
      <img src="../../../assets/img/Captura de Pantalla 2020-12-09 a la(s) 01.25.30 p. m..jpg">
      <img src="../../../assets/img/logo_hightelecom_horizontal.png">
      <img src="../../../assets/img/ebanx2_1.png">
    </div>
  </div>

</section>
