section{
  width: 100vw;
  height: 20vh;
  background-color: #F8F9F9;
  overflow: hidden;
  .footer-container{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-family: ProximaNova-Regular;
      font-size: 16px;
      color: #405457;
      letter-spacing: 0;
    }
    .logos {
      display: flex;

      img {
        margin: 15px;
        max-height: 42px;
        max-width: 137px;
      }
    }
  }
}